* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  .container,
  .container-md,
  .container-lg,
  .container-fluid {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.singlePage {
  .md-rightSide {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    background: #f2efe6;

    .headTag {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px 40px 0px 0;

      h6 {
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }
    }

    .pageTitle {
      padding: 12vw 4vw 5vw 4vw;

      .heading {
        position: relative;
        .headingText {
          position: absolute;
          opacity: 0;
          font-size: 66px;
          line-height: 0.8;
          color: black;
          font-weight: 400;
        }
        #textbox1 {
          top: 50px;
        }
        #textbox2 {
          top: 100px;
        }
        #textbox3 {
          top: 150px;
        }
        #textbox4 {
          top: 200px;
        }
      }

      .subHeading {
        .subheadText {
          p {
            font-size: 24px;
            line-height: 1.2;
          }
        }

        .pageLink {
          display: flex;
        }
      }
    }
  }

  .parentGrid,
  .parentndGrid {
    position: relative;

    .scroller-copy,
    .scroller-copytwo {
      position: relative;
      width: 100%;
    }
    .gridoneproperty,
    .gridtwoproperty {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      margin-right: 0.5rem;
      .gridItem,
      .gridItem2 {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .gText {
          color: #fff;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 20px;
          font-size: 16px;
          font-weight: 500;
          span {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      .gridItem2 {
        height: 450px;
      }
    }
  }
}
.nav-Wrapper {
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0px;
  height: 60%;
  background: #7c7c7c93;
  transform: translateX(-50%);
  left: 50%;
  right: 0;
  border: 1px solid red;
  z-index: 800;
  .navwrap {
    position: relative;
    height: 100%;
    .navbtn {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      span {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #c38133;
        box-shadow: 0 0 20px 00px #0000003b;
      }
    }
    .loading_wrapper {
      width: 100%;
      cursor: pointer;
    }
    .loading-inner-content {
      width: 1500px;
      background: #000000;
    }
    .navbox {
      position: relative;
      margin: 40px 40px 0 0;
      float: left;
      overflow: hidden;

      &:first-child {
        margin-left: 40px;
      }
      &:last-child {
        margin-right: 40px;
      }
    }
    .box-content {
      border-radius: 7px;
      width: 250px;
      height: 150px;
      overflow: hidden;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
