* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body .container,
body .container-md,
body .container-lg,
body .container-fluid {
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  margin: 0;
}
body a {
  text-decoration: none;
}

.singlePage .md-rightSide {
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  background: #f2efe6;
}
.singlePage .md-rightSide .headTag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 0px 0;
}
.singlePage .md-rightSide .headTag h6 {
  font-size: 14px;
}
.singlePage .md-rightSide .headTag p {
  font-size: 14px;
}
.singlePage .md-rightSide .pageTitle {
  padding: 12vw 4vw 5vw 4vw;
}
.singlePage .md-rightSide .pageTitle .heading .headingText {
  font-size: 66px;
  line-height: 0.8;
  color: black;
  font-weight: 400;
}
.singlePage .md-rightSide .pageTitle .subHeading .subheadText p {
  font-size: 24px;
  line-height: 1.2;
}
.singlePage .md-rightSide .pageTitle .subHeading .pageLink {
  display: flex;
}
.singlePage .parentGrid,
.singlePage .parentndGrid {
  position: relative;
}
.singlePage .parentGrid .scroller-copy,
.singlePage .parentGrid .scroller-copytwo,
.singlePage .parentndGrid .scroller-copy,
.singlePage .parentndGrid .scroller-copytwo {
  position: relative;
  width: 100%;
}
.singlePage .parentGrid .gridoneproperty,
.singlePage .parentGrid .gridtwoproperty,
.singlePage .parentndGrid .gridoneproperty,
.singlePage .parentndGrid .gridtwoproperty {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 0.5rem;
}
.singlePage .parentGrid .gridoneproperty .gridItem,
.singlePage .parentGrid .gridoneproperty .gridItem2,
.singlePage .parentGrid .gridtwoproperty .gridItem,
.singlePage .parentGrid .gridtwoproperty .gridItem2,
.singlePage .parentndGrid .gridoneproperty .gridItem,
.singlePage .parentndGrid .gridoneproperty .gridItem2,
.singlePage .parentndGrid .gridtwoproperty .gridItem,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.singlePage .parentGrid .gridoneproperty .gridItem img,
.singlePage .parentGrid .gridoneproperty .gridItem2 img,
.singlePage .parentGrid .gridtwoproperty .gridItem img,
.singlePage .parentGrid .gridtwoproperty .gridItem2 img,
.singlePage .parentndGrid .gridoneproperty .gridItem img,
.singlePage .parentndGrid .gridoneproperty .gridItem2 img,
.singlePage .parentndGrid .gridtwoproperty .gridItem img,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.singlePage .parentGrid .gridoneproperty .gridItem .gText,
.singlePage .parentGrid .gridoneproperty .gridItem2 .gText,
.singlePage .parentGrid .gridtwoproperty .gridItem .gText,
.singlePage .parentGrid .gridtwoproperty .gridItem2 .gText,
.singlePage .parentndGrid .gridoneproperty .gridItem .gText,
.singlePage .parentndGrid .gridoneproperty .gridItem2 .gText,
.singlePage .parentndGrid .gridtwoproperty .gridItem .gText,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 .gText {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
}
.singlePage .parentGrid .gridoneproperty .gridItem .gText span,
.singlePage .parentGrid .gridoneproperty .gridItem2 .gText span,
.singlePage .parentGrid .gridtwoproperty .gridItem .gText span,
.singlePage .parentGrid .gridtwoproperty .gridItem2 .gText span,
.singlePage .parentndGrid .gridoneproperty .gridItem .gText span,
.singlePage .parentndGrid .gridoneproperty .gridItem2 .gText span,
.singlePage .parentndGrid .gridtwoproperty .gridItem .gText span,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 .gText span {
  font-size: 18px;
  font-weight: 600;
}
.singlePage .parentGrid .gridoneproperty .gridItem2,
.singlePage .parentGrid .gridtwoproperty .gridItem2,
.singlePage .parentndGrid .gridoneproperty .gridItem2,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 {
  height: 450px;
}/*# sourceMappingURL=style.css.map */