* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  .container,
  .container-md,
  .container-lg,
  .container-fluid {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.singlePage {
  .md-rightSide {
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    background: #f2efe6;

    .headTag {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px 40px 0px 0;

      h6 {
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }
    }

    .pageTitle {
      padding: 12vw 4vw 5vw 4vw;

      .heading {
        .headingText {
         
            font-size: 66px;
            line-height: 0.8;
            color: black;
            font-weight: 400;
         
        }
      }

      .subHeading {
        .subheadText {
          p {
            font-size: 24px;
            line-height: 1.2;
          }
        }

        .pageLink {
          display: flex;
        }
      }
    }
  }

  .parentGrid,
  .parentndGrid {
    position: relative;

    .scroller-copy,
    .scroller-copytwo {
      position: relative;
      width: 100%;
    }
    .gridoneproperty,
    .gridtwoproperty {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      margin-right: 0.5rem;
      .gridItem,
      .gridItem2 {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .gText {
          color: #fff;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 20px;
          font-size: 16px;
          font-weight: 500;
          span {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      .gridItem2 {
        height: 450px;
      }
    }
  }
}
