* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container,
body .container-md,
body .container-lg,
body .container-fluid {
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  margin: 0;
}
body a {
  text-decoration: none;
}

.singlePage {
  display: block;
}
.singlePage .md-rightSide {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  background: #f2efe6;
}
.singlePage .md-rightSide .headTag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 0px 0;
}
.singlePage .md-rightSide .headTag h6 {
  font-size: 14px;
}
.singlePage .md-rightSide .headTag p {
  font-size: 14px;
}
.singlePage .md-rightSide .pageTitle {
  padding: 12vw 4vw 5vw 4vw;
}
.singlePage .md-rightSide .pageTitle .heading {
  position: relative;
}
.singlePage .md-rightSide .pageTitle .heading .headingText {
  position: absolute;
  opacity: 0;
  font-size: 66px;
  line-height: 0.8;
  color: black;
  font-weight: 400;
}
.singlePage .md-rightSide .pageTitle .heading #textbox1 {
  top: 50px;
}
.singlePage .md-rightSide .pageTitle .heading #textbox2 {
  top: 100px;
}
.singlePage .md-rightSide .pageTitle .heading #textbox3 {
  top: 150px;
}
.singlePage .md-rightSide .pageTitle .heading #textbox4 {
  top: 200px;
}
.singlePage .md-rightSide .pageTitle .subHeading .subheadText p {
  font-size: 24px;
  line-height: 1.2;
}
.singlePage .md-rightSide .pageTitle .subHeading .pageLink {
  display: flex;
}
.singlePage .parentGrid,
.singlePage .parentndGrid {
  position: relative;
}
.singlePage .parentGrid .scroller-copy,
.singlePage .parentGrid .scroller-copytwo,
.singlePage .parentndGrid .scroller-copy,
.singlePage .parentndGrid .scroller-copytwo {
  position: relative;
  width: 100%;
}
.singlePage .parentGrid .gridoneproperty,
.singlePage .parentGrid .gridtwoproperty,
.singlePage .parentndGrid .gridoneproperty,
.singlePage .parentndGrid .gridtwoproperty {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 0.5rem;
}
.singlePage .parentGrid .gridoneproperty .gridItem,
.singlePage .parentGrid .gridoneproperty .gridItem2,
.singlePage .parentGrid .gridtwoproperty .gridItem,
.singlePage .parentGrid .gridtwoproperty .gridItem2,
.singlePage .parentndGrid .gridoneproperty .gridItem,
.singlePage .parentndGrid .gridoneproperty .gridItem2,
.singlePage .parentndGrid .gridtwoproperty .gridItem,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.singlePage .parentGrid .gridoneproperty .gridItem img,
.singlePage .parentGrid .gridoneproperty .gridItem2 img,
.singlePage .parentGrid .gridtwoproperty .gridItem img,
.singlePage .parentGrid .gridtwoproperty .gridItem2 img,
.singlePage .parentndGrid .gridoneproperty .gridItem img,
.singlePage .parentndGrid .gridoneproperty .gridItem2 img,
.singlePage .parentndGrid .gridtwoproperty .gridItem img,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.singlePage .parentGrid .gridoneproperty .gridItem .gText,
.singlePage .parentGrid .gridoneproperty .gridItem2 .gText,
.singlePage .parentGrid .gridtwoproperty .gridItem .gText,
.singlePage .parentGrid .gridtwoproperty .gridItem2 .gText,
.singlePage .parentndGrid .gridoneproperty .gridItem .gText,
.singlePage .parentndGrid .gridoneproperty .gridItem2 .gText,
.singlePage .parentndGrid .gridtwoproperty .gridItem .gText,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 .gText {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
}
.singlePage .parentGrid .gridoneproperty .gridItem .gText span,
.singlePage .parentGrid .gridoneproperty .gridItem2 .gText span,
.singlePage .parentGrid .gridtwoproperty .gridItem .gText span,
.singlePage .parentGrid .gridtwoproperty .gridItem2 .gText span,
.singlePage .parentndGrid .gridoneproperty .gridItem .gText span,
.singlePage .parentndGrid .gridoneproperty .gridItem2 .gText span,
.singlePage .parentndGrid .gridtwoproperty .gridItem .gText span,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 .gText span {
  font-size: 18px;
  font-weight: 600;
}
.singlePage .parentGrid .gridoneproperty .gridItem2,
.singlePage .parentGrid .gridtwoproperty .gridItem2,
.singlePage .parentndGrid .gridoneproperty .gridItem2,
.singlePage .parentndGrid .gridtwoproperty .gridItem2 {
  height: 450px;
}

.navwrapouter {
  width: 100%;
}
.navwrapouter .navbtn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c38133;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.231372549);
}
.navwrapouter .navwrap {
  opacity: 0;
  transform: scale(0);
  width: 100%;
  height: 400px;
  background-color: #222222;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
}
.navwrapouter .navwrap .loading_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.navwrapouter .navwrap .loading-inner-content {
  background: transparent;
  height: 300px;
  width: 1600px;
  padding: 0 40px;
}
.navwrapouter .navwrap .box {
  position: relative;
  width: 250px;
  /* image-size */
  height: 150px;
  margin: 40px 40px 0 0;
  float: left;
  overflow: hidden;
}
.navwrapouter .navwrap .box:first-child {
  margin-left: 40px;
}
.navwrapouter .navwrap .box:last-child {
  margin-right: 40px;
}
.navwrapouter .navwrap .box-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
}
.navwrapouter .navwrap .box-content > img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */